<div id="registration-form">
  <h1>{{title}}</h1>
  <div class="container">
    <div class="row">
      <form>
      <div class="form-group">
        <label for="fname-text">First Name</label>
        <input type="text" class="form-control" id="fname-text" aria-describedby="fname-text" placeholder="Enter your First Name">
        <br>
     </div>
       <div class="form-group">
        <label for="lname-text">Last Name</label>
        <input type="text" class="form-control" id="lname-text" aria-describedby="lname-text" placeholder="Enter your Last Name">
        <br>
     </div>
       <div class="form-group">
        <label for="address-text"> Address</label>
        <input type="text" class="form-control" id="address-text" aria-describedby="address-text" placeholder="Enter your address">
        <br>
     </div>
       <div class="form-group">
        <label for="storeName-text">Store Name</label>
        <input type="text" class="form-control" id="storeName-text" aria-describedby="storeName-text" placeholder="Enter your Store Name">
        <br>
     </div>
       <div class="form-group">
        <label for="description-text">Description</label>
        <input type="text" class="form-control" id="description-text" aria-describedby="description-text" placeholder="Enter your description">
        <br>
     </div>
      <div class="form-group">
        <label for="price-number">Price</label>
        <input type="text" class="form-control" id="price-number" aria-describedby="price-number" placeholder="Enter your service price">
        <br>
     </div>
    {{!-- <div class="form-group">
        <label for="store-img">Upload your Image</label>
        <input type="file" class="form-control-file" id="store-img">
     </div> --}}
     <br>
        <button id="submit-register" class="btn btn-primary float-right">Submit</button>
    </div>
    </form> 
  </div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/register.js"></script>
