  <div class="form-group">
    <label for="reviewTextarea">Example textarea</label>
    <textarea class="form-control" id="reviewTextarea" rows="3"></textarea>
      <button id="submit-review" type="submit" class="btn btn-primary">Submit</button>
  </div>