
                          
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
   <div class="container">
     <a class="navbar-brand" href="#">Fist of Five</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
       aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   </div>
 </nav>
                          
 <!-- Page Content -->
 <section>
 <div class="description-container">
   <div class="row">
     <div class="col-lg-9">
     </section>
                          
       <!-- results container to pull review results form mysql -->
       <section>
         <!-- multiple choice question  container -->
         <div class="row">
           <div class="col-md-12 questions--container">
           </div>
         </div>
         <!-- written review results container -->
         <div class="row">
           <div class="col-md-12 results-container">
           </div>
         </div>
       </section>
       </div>
     </div>
   </div>
 </div>
                          
 <footer>
   <div></div>
 </footer>
                          
 <!-- Bootstrap core JavaScript -->
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
 <script src="../js/review.js" type="text/javascript"></script>
                          
                          </body>
                          
                          </html>


<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Masseuse Review</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Fists of Five</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#review">Review 
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->


    
    <div class="container">

    <h4>How well did (your massage therapist) meet your expectations?</h4>
          <div>
              <div class="flex-container">
                <div class="fistRate"></div>
                  <span class="hand">
                      <input type="image" src="../bootstrap/images/fists0.png" class="fist" data-attr="0" id="rating-0" value="1">
                  </span>
                  <span class="hand">
                      <input type="image" src="images/fists1.png" class="fist" data-attr="1" id="rating-1">
                  </span>
                  <span class="hand">
                      <input type="image" src="images/fists2.png" class="fist" data-attr="2" id="rating-2">
                  </span>
                  <span class="hand">
                      <input type="image" src="images/fists3.png" class="fist" data-attr="3" id="rating-3">
                  </span>
                  <span class="hand">
                      <input type="image" src="images/fists4.png" class="fist" data-attr="4" id="rating-4">
                  </span>
                  <span class="hand">
                      <input type="image" src="images/fists5.png" class="fist" data-attr="5" id="rating-5">
                  </span>
                  </div>
              </div>

              <h4>How well did (your massage therapist) understand your needs?</h4>
              <div>
                  <div class="flex-container">
                      <span class="hand">
                          <input type="image" src='images/fists0.png' data-attr="0" id="rating-0">
                      </span>
                      <span class="hand">
                          <input type="image" src="images/fists1.png" data-attr="1" id="rating-1">
                      </span>
                      <span class="hand">
                          <input type="image" src="images/fists2.png" data-attr="2" id="rating-2">
                      </span>
                      <span class="hand">
                          <input type="image" src="images/fists3.png" data-attr="3" id="rating-3">
                      </span>
                      <span class="hand">
                          <input type="image" src="images/fists4.png" data-attr="4" id="rating-4">
                      </span>
                      <span class="hand">
                          <input type="image" src="images/fists5.png" data-attr="5" id="rating-5">
                      </span>
                      </div>
                  </div>

                  <h4>How likely are you to regularly receive massages from (your massage therapist) in the future?</h4>
                  <div>
                      <div class="flex-container">
                          <span class="hand">
                            <input type="image" src="images/fists0.png" data-attr="0" id="rating-0">
                          </span>
                          <span class="hand">
                             <input type="image" src="images/fists1.png" data-attr="1" id="rating-1">
                          </span>
                          <span class="hand">
                             <input type="image" src="images/fists2.png" data-attr="2" id="rating-2">
                          </span>
                          <span class="hand">
                             <input type="image" src="images/fists3.png" data-attr="3" id="rating-3">
                          </span>
                          <span class="hand">
    <input type="image" src="images/fists4.png" data-attr="4" id="rating-4">
                          </span>
                          <span class="hand">
   <input type="image" src="images/fists5.png" data-attr="5" id="rating-5">
                          </span>
                          </div>
                      </div>

                      <h4>How likely are you to suggest (your message therapist)’s services to someone you know?</h4>
                      <div>
                          <div class="flex-container">
                         <span class="hand">
                           <input type="image" src="images/fists0.png" data-attr="0" id="rating-0">
                         </span>
                         <span class="hand">
                            <input type="image" src="images/fists1.png" data-attr="1" id="rating-1">
                        </span>
                         <span class="hand">
                       <input type="image" src="images/fists2.png" data-attr="2" id="rating-2">
                         </span>
                       <span class="hand">
                        <input type="image" src="images/fists3.png" data-attr="3" id="rating-3">
                         </span>
                         <span class="hand">
                           <input type="image" src="images/fists4.png" data-attr="4" id="rating-4">
                           </span>
   <span class="hand">
       <input type="image" src="images/fists5.png" data-attr="5" id="rating-5">
   </span>
   </div>
                          </div>
