<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>




<div id="review">
  <h1>{{title}}</h1>
  <div class="container">
    <div class="row">
      <form>
      <div class="form-group">
        <label for="fName-text">First Name</label>
        <input type="text" class="form-control" id="fName-text" aria-describedby="fName-text" placeholder="Enter your First Name">
        <br>
     </div>
       <div class="form-group">
        <label for="lName-text">Last Name</label>
        <input type="text" class="form-control" id="lName-text" aria-describedby="lName-text" placeholder="Enter your Last Name">
        <br>
     </div>
     <div class="form-group">
        <label for="description-text"> Massage Type</label>
        <input type="text" class="form-control" id="description-text" aria-describedby="description-text" placeholder="Type of massage">
        <br>
     </div>
       <div class="form-group">
        <label for="user-scores"> Rate massage</label>
        <input type="text" class="form-control" id="user-scores" aria-describedby="user-scores" placeholder="Rate your massage">
        <br>
     </div>
       <div class="form-group">
        <label for="review-text">Write review</label>
        <input type="text" class="form-control" id="review-text" aria-describedby="review-text" placeholder="Review your massage">
        <br>
     </div>
       <div class="form-group">
        <label for="description-text">Description</label>
        <input type="text" class="form-control" id="description-text" aria-describedby="description-text" placeholder="Enter your description">
        <br>
     </div>
    {{!-- <div class="form-group">
        <label for="store-img">Upload your Image</label>
        <input type="file" class="form-control-file" id="store-img">
     </div> --}}
     <br>
        <button id="submit-register" class="btn btn-primary float-right">Submit</button>
    </div>
    </form> 
  </div>
</div>

