
header {
    background-color: #262625;
    background-image: url("../images/massage3.jpg");  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#search-container{
    padding-top: 100px;
    padding-left: 10%;
    padding-bottom: 100px;
    padding-right: 10%;
}

#card-container{
    padding-top: 50px;
    background-color: white;
}
#image-container{
    width: 300px;
    height: 200px;
    overflow: hidden;
}
#card-image{
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px; */
    object-fit: contain;
    /* margin-bottom: 100px */
}
.card{
    background-color: lightgray;
}       
