h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif
}
body {
    background-color: #262625;
}
#profile-form {
    background-color: #262625;
    margin-top: 250px;
    /* height: 300px; */
    /* margin-top: -10px; */
}
#form-heading{
    background-color: #c6a66a;
}
img{
    margin-top: 25px
}
.card-body{
    background-color: white;
    margin-bottom: 15px;
}
#masseuse-name{
    font-weight: bold;
}
#button{
    background-color: #c6a66a;
    border-color: #c6a66a;
}

#QRImage {
    width:100px;
    height:100px;
}

