h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif
}
body{
    background-color: #262625;
}
#registration-container{
    margin-top: 350px;
    margin-bottom: 20px;
}
#form-heading{
    background-color: #c6a66a;
}


