h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif
}
#registration-form {
    background-color: #262625;
    height: 900px;
}
#form-heading{
    background-color: #c6a66a;
}

#submit-register{
    background-color: #c6a66a;
    border-color: #c6a66a;
}