h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif
}
body {
    background-color: #262625;
}

#results-container{
    background-color: #c6a66a;
    width: 960px; 
    padding: 5px;
    margin-top: 30px;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 100px;
}
#profTitle {
    width: 97%;
    margin-top: 20px;
    background-color: white;
    margin-left: 15px;
    margin-right: 50px;
    padding: 50px;
}
.profPic {
    width: 35%;
    padding: 10px;
    margin-top: 0px;

}
/* #review-container{
    float: right;
    background-color: #c6a66a;
} */
.card-body{
    background-color: white;
}
#masseuse-name{
    font-weight: bold;
    border-bottom: none;
    overflow: auto
}

#review-container{
    margin-top: 10px;
    min-width: 880px;
}
#button{
    background-color: #c6a66a;
    border-color: #c6a66a;
}


