
#review {
    background-color: #262625;
    height: 930px;
}
#review-container{
    margin-top: 50px;
    margin-bottom: 20px;
}

.submit-btn{
    background-color: #c6a66a;
    border-color: #c6a66a;
}

.submit-btn:hover{
    background-color: #b79046;
    border-color: #b79046;
}
#registration-form {
    background-color: #262625;
    height: 900px;
}
#form-heading{
    background-color: #c6a66a;
}

#submit-review{
    background-color: #c6a66a;
    border-color: #c6a66a;
}

#submit-review:hover{
    background-color: #b79046;
    border-color: #b79046;
}
.fist{
    height: 30px;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
  }
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #c6a66a;
  }


