/* h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif
}
body {
    background-color: #262625;
}
#review {
    background-color: #262625;
    height: 900px;
}
#review-container{
    margin-top: 100px;
    margin-bottom: 20px;
}

#form-heading{
    background-color: #c6a66a;
}

.submit-btn{
    background-color: #c6a66a;
    border-color: #c6a66a;
}

.submit-btn:hover{
    background-color: #b79046;
    border-color: #b79046;
}

 */
 
 /*===============================================================*/
 label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #7FFFD4;
  }
/* 
#registration-form {
    background-color: #262625;
    height: 900px;
}
#form-heading{
    background-color: #c6a66a;
}

#submit-review{
    background-color: #c6a66a;
    border-color: #c6a66a;
}

#submit-review:hover{
    background-color: #b79046;
    border-color: #b79046;
}
.fist{
    height: 30px;
} */

